body {
    background-color: #f0f0f0;
    /* Цвет заднего фона */
    /* RGB (Red, Green, Blue) палитра  */
    /* Красный: f0 
    Зелёный: f0
    Синий: f0  */
}

div {
    height: 100vh;
    /* Высота блока-контейнера, в котором лежит наша цитата = 100% высоты нашей страницы (контента который умещается на страницу браузера без скролла вниз) */
    /* vh это и есть та самая единица измерения высоты нашей страницы браузера */
    /* 1vh = 1% страницы по высоте заняты контентом */
    /* 50vh = 50% страницы по высоте заняты контентом */

    display: grid;
    /* Всё содержимое элемента превращается в сетку с ячейками (как в морском бое или шахматах) */
    grid-template-columns: 1;
    /* Кол-во столбцов в сетке */
    grid-template-rows: 1;
    /* Кол-во строк в сетке */
    justify-items: center;
    /* Выравнивание всех ячеек (элементов внутри самой сетки) ПО ГОРИЗОНТАЛИ ровно по центру*/
    align-items: center;
    /* Выравнивание всех ячеек (элементов внутри самой сетки) ПО ВЕРТИКАЛИ ровно по центру*/
}

h2 {
    max-width: 80%;
    /* Максимальная ширина (80%) от всей доступной ширины родительского элемента */
    /* В данном случае структура внутри home.html следующая 
        <div>
            <h2>{{ quote }}</h2>
        </div>
    Элемент h2 находится внутри элемента (родителя) div -> максимальная ширина h2 = 80% от текущей ширины div */

    background-color: #0b0b0b;
    /* Цвет заднего фона */
    border-radius: 25px;
    /* Закругление краёв блока */
    color: goldenrod;
    /* Цвет текста */
    padding: 20px;
    /* Внутренние отступы с каждой из сторон (сверху, справа, снизу, слева) */
}
