body {
    background-color: #f0f0f0;
    /* Цвет заднего фона */
}

div {
    height: 100vh;
    /* Высота блока-контейнера, в котором лежит наша цитата = 100% высоты нашей страницы (контента который умещается на страницу браузера без скролла вниз) */
    /* vh это и есть та самая единица измерения высоты нашей страницы браузера */
    /* 1vh = 1% страницы по высоте заняты контентом */
    /* 50vh = 50% страницы по высоте заняты контентом */

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

h2 {
    background-color: #0b0b0b;
    /* Цвет заднего фона */
    border-radius: 25px;
    /* Закругление краёв блока */
    color: goldenrod;
    /* Цвет текста */
    padding: 20px;
    /* Внутренние отступы с каждой из сторон (сверху, справа, снизу, слева) */
}
