<!doctype html>
<!-- Говорим браузеру, что будем использовать html самой последней версии -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Кодировка UTF-8, чтобы все символы всех языков на сайте отображались
        корректно (включая китайские иероглифы) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../static/favicon.avif"
            type="image/x-icon"
        />
        <!-- Добавление визуальной иконки на сайт (для вкладки в браузере) -->
        <link rel="stylesheet" href="/static/home.css" />
        <!-- Подключение файла со стилями (home.css) -->
        <title>Цитаты</title>
        <!-- Заголовок страницы (вкладки в браузере) -->
    </head>
    <!-- head - тег-голова, в котором хранятся элементы, которые не будут отрисованы на странице -->
    <body>
        <!-- body - тело, в котором хранятся элементы, которые будут отрисованы на странице -->
        <div>
            <!-- div - блок-контейнер, в котором хранятся другие элементы -->
            <h2>{{ quote }}</h2>
            <!-- h2 - Заголовок второго уровня -->
            <!-- {{ quote }} Вставка переменной quote из python (app.py) -->
        </div>
    </body>
</html>
